## Time to code!

In [ ]:
print ("Hello B.tech, Good Morning")

Hello B.tech, Good Morning

In [ ]:
#variable: is a reserved memory location to store values.
s1 = "python"
print(s1)

python

In [ ]:
s2="Machine_Learning"
s3="DBMS"

In [ ]:
print("Welcome to s1")

Welcome to s1

In [ ]:
print("Welcome to", s1)
print("Welcome to", s2)
print("Welcome to", s3)

Welcome to python

In [ ]:
print("Welcome to ", s1, s2, s3);

Welcome to  python Machine_Learning DBMS

In [ ]:
print("Welcome to ", s1, s2, s3);

Welcome to  python Machine_Learning DBMS

In [ ]:
#Type the code to print your name

In [ ]:
age =22
print("Your age is:", age)

Your age is: 22

In [ ]:
age = 25
print("Your age is:", age)

Your age is: 25

In [ ]:
age = age+1
age

26

#Variable Naming Rules in Python
1. Variable name should start with letter.
### Valid : age , _age , Age
### Invalid : 1age
2. No special characters allowed other than underscore (_).
### Valid : age_ , _age
### Invalid : age_*
3. Variables are case sensitive.
### age and Age are different.
4. Variable name can have numbers but not at the beginning.
### Example: Age1
5. Python keywords are not allowed.
###  Invalid: if, break, continue...

In [ ]:
#Python automatically determines variable type.
print(type(age))

<class 'int'>

In [ ]:
print(type(s1))

<class 'str'>

In [ ]:
#Sequence of instructions
a=1; print(a); a=a+1;print(a); a=a+1; print(a); a=a+1; print(a);a=a+1; print(a);

1
2
3
4
5

In [ ]:
#Getting inputs from user

In [ ]:
n = input ("What is your major?")

What is your major?ss

In [ ]:
print("Welcome to",n)

Welcome to ss

In [ ]:
print("Welcome to",n, ". All the best!")

Welcome to ss . All the best!

In [ ]:
#  operators
# Arithmetic operators
x= 11
y=5
print("Addition:", x+y)
print("Subtraction:", x-y)
print("Multiplication:", x*y)
print("Divison:", x/y)
print("Remainder:", x%y)
print("Exponential:", x**y)
print("Floor:", x//y)

Addition: 16
Subtraction: 6
Multiplication: 55
Divison: 2.2
Remainder: 1
Exponential: 161051
Floor: 2

In [ ]:
#  operators
#Assignment Operators
x=5
x=x+1
print(x)

6

Short hand opearator

In [ ]:
x= 5
x+=1
print(x)

6

# Write code to subtract using short-hand operator

In [ ]:
# Write code to subtract using short-hand operator
x = 10

print()

# Comparison Operator: compares the values of two operands and returns True or False based on the condition.

1. **<** less than
Checks if left value is lesser than right

In [ ]:
a=10
b=5
b<a

True

In [ ]:
'Ben' < 'ben'

True

Here ascii value of the string is compared. Ascii of B = 66 and b =98

2.**>** greater than. Checks if value on left is greater than right value.

In [ ]:
0.5 < False

False

3. **<=** less than or equal to, returns True only if the value on the left is either less than or equal to right.

In [ ]:
a = 2
a <= a*2

4. **>=** (Equal To or Greater Than), returns True only if the value on the left is greater than or equal to right.

In [ ]:
from math import pi
3.14 >= pi

False

5. **==** (Equal to), returns True if the values on either side of the operator are equal.

In [ ]:
3=='3'

False

6.**!=** (Not Equalto), does exact opposite of ==

In [ ]:
x=100
y=10
print(x!=y)

True

# Logical Operators

1.Logical **or**- Returns True if either of the operands are True

In [ ]:
x=5
print(x>3 or x<4)

True

2.Logical **and**-Returns True if both statements are true

In [ ]:
x = 5
print(x > 3 and x < 10)

True

3.Logical **not**-returns False if the result is true

In [ ]:
x = 5

print(not(x > 3 and x < 10))

False

#Bitwise operator: used to compare (binary) numbers

1. **&- AND:**	Sets each bit to 1 if both bits are 1

In [ ]:
a = 10
b = 6
 
# Print bitwise AND operation      #10 = 0000 1010; 6 = 0000 0110 = 0010
print("a & b =", a & b)

a & b = 2

2. **|-OR** Sets each bit to 1 if one of two bits is 1

In [ ]:
a = 10
b = 6
# Print bitwise OR operation       #10 = 0000 1010; 6 = 0000 0101 = 1111
print("a | b =", a | b)

a | b = 14

3. **^ XOR:**	Sets each bit to 1 if only one of two bits is 1

In [ ]:
a = 10
b = 6
# print bitwise XOR operation     #10 = 0000 1010; 6 = 0000 0110 = 0000 1100
print("a ^ b =", a ^ b)

a ^ b = 12

4. **~ NOT:**	Inverts all the bits

In [ ]:
a = 10
# Print bitwise NOT operation      #10 = 0000 1010 = 1111 0101 = 0000 1010 
print("~a =", ~a)

~a = -11

4. **<< left shift:**	Shift left by pushing zeros in from the right and let the leftmost bits fall off

In [ ]:
# print bitwise left shift operation     
a=5                                     #5 = 0000 0101 => 0001 0100
print(a << 2)

20

5. **>> right shift:**	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

In [ ]:
# print bitwise right shift operation     #5 = 0000 1010 => 0000 0101
a=10
print(a >> 1)

5

In [ ]:
#Discount Calculation
cost = input(print("Enter the cost of item:"))
#amt = cost*0.9
amt = int(cost) * .9
print("Please pay the amount", amt)

Enter the cost of item:
200
Please pay the amount 180.0

Write a program to accept a number as input and display the square of the number as the output.

In [ ]:
#square of the number 
#x = int(input())

2
4

In [ ]:
#Understanding if condition
choice= input(print("Please enter your major"))
if choice == "AI":
  print("You belong to Artificial Intelligence.")
if choice == "ML":
  print("You belong to Machine Learning.")
if choice == "BD":
  print("You belong to Big Data.")

Please enter your major
AI
You belong to Artificial Intelligence.

In [ ]:
#Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. 
#Other programming languages often use curly-brackets for this purpose.
choice= input(print("Please enter your major"))
if choice == "AI":
print("You belong to Artificial Intelligence.")

IndentationError: ignored

In [ ]:
a = 100
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

**Elif -** if the previous conditions were not true, then try this condition".

In [ ]:
a = 100
b = 100
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

**else** keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 100
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

Write a program to accept a number as input and check if the number is posotive or negative.

In [ ]:
# positive or negative.