## Time to code!

In [ ]:
print ("Hello BE Students, Good Morning")

In [ ]:
#variable: is a reserved memory location to store values.
s1 = "python"
print(s1)

In [ ]:
s2="Machine_Learning"
s3="DBMS"

In [ ]:
print("Welcome to s1")

In [ ]:
print("Welcome to", s1)
print("Welcome to", s2)
print("Welcome to", s3)

In [ ]:
print("Introduction to", s1,"and", s2);

In [ ]:
#Write the code to print your name, course and mobile#
print("Name")
print("Course")
print("998877665544")

In [ ]:
age =22
print("Your age is:", age)

Reassign the variables

In [ ]:
age = 25
print("Your age is:", age)

In [ ]:
age = age+1
age

#Variable Naming Rules in Python
1. Variable name should start with letter.
### Valid : age , _age , Age
### Invalid : 1age
2. No special characters allowed other than underscore (_).
### Valid : age_ , _age
### Invalid : age_*
3. Variables are case sensitive.
### age and Age are different.
4. Variable name can have numbers but not at the beginning.
### Example: Age1
5. Python keywords are not allowed.
###  Invalid: if, break, continue...

Remove the illegal characters in the variable name:

In [ ]:
#Remove the illegal characters
myfirst_name = "John"

In [ ]:
#Python automatically determines variable type.
age= "Harsh"
print(age)
print(type(age))

In [ ]:
print(type(s1))

In [ ]:
x = True
print(type(x))

write a code to convert x into floating point

In [ ]:
#print ans as float
x=5
print(float(x))

In [ ]:
#Insert the correct syntax to convert x into a integer.
x = 5.5
print(int(x))

In [ ]:
#Sequence of instructions
a=1 
print(a)
a=a+1 
print(a)
a=a+1 
print(a)

#Getting inputs from user

In [ ]:
n = input ("What is your major?")
print(n)

In [ ]:
print("Welcome to",n)

In [ ]:
print("Welcome to",n, ". All the best!")

Create a variable named carname and get the input from the user and display the carname

In [ ]:
# Display carname

In [ ]:
#  operators
# Arithmetic operators
x= 5
y=3
print("Addition:", x+y)
print("Subtraction:", x-y)
print("Multiplication:", x*y)
print("Divison:", x/y)
print("Remainder:", x%y)
print("Exponential:", x**y)
print("Floor:", x//y)

In [ ]:
x = "5"
y = "John"
print(x + y)

In [ ]:
#  operators
#Assignment Operators
x=5
x=x-1
print(x)

Short hand opearator

In [ ]:
x= 5
x-=1
print(x)

# Write code to subtract using short-hand operator

In [ ]:
# Write code to subtract using short-hand operator
x = 10

print()

# Comparison Operator: compares the values of two operands and returns True or False based on the condition.

1. **<** less than
Checks if left value is lesser than right

In [ ]:
a=10
b=5
b<a

In [ ]:
'Ben' < 'ben'

Here ascii value of the string is compared. Ascii of B = 66 and b =98

2.**>** greater than. Checks if value on left is greater than right value.

In [ ]:
0.5 > False

3. **<=** less than or equal to, returns True only if the value on the left is either less than or equal to right.

In [ ]:
a = 2
a <= a*2

4. **>=** (Equal To or Greater Than), returns True only if the value on the left is greater than or equal to right.

In [ ]:
from math import pi
3.14 >= pi

5. **==** (Equal to), returns True if the values on either side of the operator are equal.

In [ ]:
3=='3'

6.**!=** (Not Equalto), does exact opposite of ==

In [ ]:
x=100
y=10
print(x!=y)

Write a code to get two inputs from user and do all the arthimetic operations.

In [ ]:
# Arthimetic operations
x= int(input("Enter x:"))
y= int(input("Enter y:"))

# Logical Operators

1.Logical **or**- Returns True if either of the operands are True

In [ ]:
x=5
print(x>3 or x<4)

2.Logical **and**-Returns True if both statements are true

In [ ]:
x = 5
print(x > 3 and x < 10)

3.Logical **not**-returns False if the result is true

In [ ]:
x = 5

print(not(x > 3 and x < 10))

#Bitwise operator: used to compare (binary) numbers

1. **&- AND:**	Sets each bit to 1 if both bits are 1

In [ ]:
a = 10
b = 6
 
# Print bitwise AND operation      #10 = 0000 1010; 6 = 0000 0110 = 0010
print("a & b =", a & b)

2. **|-OR** Sets each bit to 1 if one of two bits is 1

In [ ]:
a = 10
b = 6
# Print bitwise OR operation       #10 = 0000 1010; 6 = 0000 0110 = 1110
print("a | b =", a | b)

3. **^ XOR:**	Sets each bit to 1 if only one of two bits is 1

In [ ]:
a = 10
b = 6
# print bitwise XOR operation     #10 = 0000 1010; 6 = 0000 0110 = 0000 1100
print("a ^ b =", a ^ b)

4. **~ NOT:**	Inverts all the bits

In [ ]:
a = 10
# Print bitwise NOT operation      #10 = 0000 1010 = 1111 0101 = 0000 1010 
print("~a =", ~a)

2's complement = 1's complement + 1

4. **<< left shift:**	Shift left by pushing zeros in from the right and let the leftmost bits fall off

In [ ]:
# print bitwise left shift operation     
a=5                                     #5 = 0001 0100 => 0001 0100           
print(a << 2)

5. **>> right shift:**	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

In [ ]:
# print bitwise right shift operation     #5 = 0000 0101 => 0000 0101
a=10
print(a >> 1)

Write a program to swap two variables

In [ ]:
#input: x=5; y=100
#output: x= 100; y=5

In [ ]:
#Discount Calculation
cost = input(print("Enter the cost of item:"))
#amt = cost*0.9
amt = int(cost) * .9
print("Please pay the amount", amt)

Write a program to accept a number as input and display the square of the number as the output.

In [ ]:
#square of the number 
#x = int(input())

In [ ]:
#Understanding if condition
choice= input(print("Please enter your major"))
if choice == "AI":
  print("You belong to Artificial Intelligence.")
  print("All the best")
if choice == "ML":
  print("You belong to Machine Learning.")
if choice == "BD":
  print("You belong to Big Data.")

In [ ]:
#Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. 
#Other programming languages often use curly-brackets for this purpose.
choice= input(print("Please enter your major"))
if choice == "AI":
print("You belong to Artificial Intelligence.")

In [ ]:
a = 100
b = 200
if b > a:
  print("b is greater than a")

**Elif -** if the previous conditions were not true, then try this condition".

In [ ]:
a = 100
b = 100
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

**else** keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 100
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

Write a program to accept a number as input and check if the number is posotive or negative.

In [ ]:
# positive or negative.

**Write a program to find the whether the input year is a leap year**
1. If it is not divisible by 4. It is not a leap year. 
For example: 1997 is not a leap year.
2. If a year is divisible by 4, but not by 100. 
For example: 2012, it is a leap year. 
3. If a year is divisible by both 4 and 100, but not by 400. 
For example: 1900, then it is not a leap year. 
If a year is divisible by both, then it is a leap year.  2000 is a leap year.

In [ ]:
#leap year

**for loop**
1. Is a Iterator
2. excutes a block as long as specified condition is true
**range():** python built-in function

In [ ]:
# for 
for i in range(10):        #upperbound is exclusive     i=0; i=1; i=2; ....... i=9
  print(i*5)

In [ ]:
t = int(input("Enter the Table:"))
for i in range(1,11):
  print(i, "X", t, "=", i*t)

In [ ]:

for i in range(4,10):
  print("i=:", i)

To print horizontally (row)

In [ ]:
for i in range(10,0, -1): 
  print(i, end =" ")

Write a program to accept number from user and print sum of numbers

In [ ]:
x= int(input())
sum=0
# write your code here

**While loop:** we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

**Lambda operator:** The lambda operator or lambda function is a way to create small anonymous functions, i.e. functions without a name.

In [ ]:
# lamba function to add three numbers
fadd = lambda a, b, c : a + b + c
print(fadd(5, 6, 2))

Write a program to multiply two numbers using lambda function

In [ ]:
# lamba function to multiply two numbers