#Lambda Functions
##1. Anonymous or nameless function
##2. Lambda is the keyword
#Uses
1. One-time use
2. I/O of other functions
3. Reduce the code size

#Syntax
##lambda arguments: expression

In [ ]:
x = lambda a: a**2
x(55)

In [ ]:
def sqr(a):
  return a*a
sqr(55)

#write a program to find max of two numbers

In [ ]:
def max(a,b):
  if a>b:
    return a
  return b

print(max(79,82))

In [ ]:
mx= lambda x,y: x if x> y else y
print(mx(999, 99))

#Write a program to print square of first 10 numbers using lambda function

In [ ]:
sq = lambda x: x**2
for i in range(1,11):
  print(sq(i))

# Lambda with user-defined functions

#filter()
Used to filter given iterables like sets, lists based on some condition
#*filter(func, iterables)*

In [ ]:
lst =[2,3,4,5,6,7,8,9,10]
newlst = list(filter(lambda x: (x%5 == 0),lst))
print(newlst)

In [ ]:
age=[12, 9, 18, 40, 39, 41]


def chkage(a):
  if a < 18:
    return False
  return True

voters = list(filter(chkage, age))
print(voters)

In [ ]:
age1= [56,34,2, 18, 90]
voter1 = list(filter(lambda a: a> 18, age1))
print(voter1)

#Lambda within map()
For every element present in the iterables apply some function and generate new elemnt with the required modification.
#*map(func,iterables)*

In [ ]:
def sqr1(a):
  return a**2

l= [5,6,7,9]

list(map(sqr1, [5,6,7,9]))

In [ ]:
lst =[2,3,4,5,6,7,8,9,10]
newlst = list(map(lambda x: (x**2),lst))
print(newlst)

In [ ]:
lst1=[1,2,3,4,5,6,7]
lst2=[11,12,13,14,15,16, 17]
lst3 = list(map(lambda x,y: x*y, lst1,lst2))
print(lst3)

In [ ]:
l1=[1,2,3,4,5]
l2=[11,12,13,14,15]
l3=[111, 112, 113, 114, 115]
l4=list(map(lambda x,y,z: x+y+z, l1,l2,l3))
print(l4)

#lambda within reduce()
#*reduce(func, sequence)*

In [ ]:
from functools import reduce
reduce(lambda a,b: a+b, [2,3,4,5,6,7,8,9,10])

#Write a program to print the product of numbers given in the list

In [ ]:
def multiply(l):
  prod = l[0]
  for i in range(1, len(l)):
    prod*= l[i]
  return prod

print(multiply([44,33,22,1]))

In [ ]:
n=[11,2, 3, 1]
print(reduce(lambda x,y: x*y, n))

#linear eqn

In [ ]:
#3x+5
q= lambda x:(3*x+5) 
q(5)

In [ ]:
#3x+5y
q= lambda x,y:(3*x+5*y)
q(2,2)

#Quadratic Eqn

In [ ]:
#(a+b)^2
s= lambda a,b:(a+b)**2
s(5,5)

#Write a program that filters vowels in a seq using a filter function

In [ ]:
def fun(var):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (var in letters):
        return True
    else:
        return False
    
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']
  
# using filter function
filtered = filter(fun, sequence)
  
for s in filtered:
    print(s)

In [ ]:
seq = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r', 'i']
fil = list(filter(lambda x: (x in ('a','e','i','o','u')), seq))
print(fil)

#Write a python program to accept a list of numbers from user. If the number is divisible by 4, square the numbers and print the list.(Use filter and map functions)

In [ ]:
l=[4, 40, 111, 13, 101, 44]
ans = list(map(lambda x: x**2, filter(lambda x: (x%4==0), l)))
print(ans)

#Write a python program to get list of players in a list and convert them into capital letters

In [ ]:
my_fav = ['CR7', 'messi', 'mbappe', 'salah']
uppercase = list(map(lambda x:x.upper(), my_fav))
print(uppercase)

#Write a python program to get list of score of 10 students in python FAT exam. Display the scores of the students who has secured more than 75 marks with and without using anonymous function

In [ ]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

def above75(score):
    return score > 75

over_75 = list(filter(above75, scores))

print(over_75)

In [ ]:
scores1 = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65,90]
out= list(filter(lambda x:x>75, scores1))
print(out)