In [ ]:
print("Hello BSCE, Welcome to python class!")

In [ ]:
# Insert missing part of code
("Hello BSCE, Welcome to python class!")

Insert the symbol for commenting a line

In [ ]:
This is a comment

Insert symbol for commenting multiple lines (Use " " " at start and end)

In [ ]:
Python was created in the early 1990s.
Python is an interpreted high-level general-purpose programming language.
Python is widely considered one of the easiest programming languages for a beginner to learn

Check for Indendation

In [ ]:

if 'B' < 'b':
print("B is greater")

In [ ]:
#Create a variable named Student_Name and assign the your name as value

In [ ]:
#Create a variable named n1 and assign the value 5555 to it.

In [ ]:
# Display the sum of 5555 + 1111, using two variables: x and y.
x= 5555
print(x+y)

In [ ]:
# Display the multiplication of 5555 + 1111, using two variables: x and y and display the result using third variable.

#Remove the illegal characters in the variable name

In [ ]:
1_my-first*1234e = "Python"

Insert the correct syntax to assign the same value (python) to two variables (s1 and s2) in one line

Write code to print the data type of x

In [ ]:
x= 5555

Write code to print the data type of x

In [ ]:
x = "python"

Write code to print the data type of x

In [ ]:
x = 55550.57676

Write code to print the data type of x

In [ ]:
x= False

Convert x to float

In [ ]:
x = 565456

Convert x to integer

In [ ]:
x = 565456.76767

Convert x to complex. Add complex keyword.

In [ ]:
x= 766243562

Write a program to accept a name as input and print “Hello <input name>. Welcome to Python BCSE101E” as the output

Write a program to accept a number as input and display the square of the number as the output.