#Pandas - "Python Data Analysis Library"
##### Multidimensional structured data sets
##### Pandas takes the data input in .csv, .tsv or sql database and creates a python object with rows and columns.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
lst ={'lang': ['python', 'c', 'c++', 'dbms']}
df= pd.DataFrame(lst)
print(df)

### Creating DataFrame from files

DataFrame can be created from three types of files:
<ol>
    <li>Comma Separated Values(CSV files) - read_csv function</li>
    <li> Excel Files - read_excel function</li>
    <li> Text files - read_table function</li>
</ol>

Separators maybe specified while using read_csv or read_table functions

In [ ]:
sslc = pd.read_csv('marks.txt',sep=';',header=None,index_col=None)

#### Display first five records

In [ ]:
sslc.head()

In [ ]:
sslc.columns = ['region','roll_number','eng','lang2','math','sci','ss','total','pass','withheld','extra']

In [ ]:
sslc.head(7)

#### Display Last Eight Records

In [ ]:
sslc.tail(8)

### General attributes of dataframe

In [ ]:
# returns number of data(cells) in the dataframe
sslc.size

In [ ]:
# returns the number of non-null values in each column
sslc.count()

In [ ]:
# Return a tuple of the number of records(rows) and number of attributes (columns)
sslc.shape

In [ ]:
# Return number of dimensions of the dataframe
sslc.ndim

#### Summary about dataframe

In [ ]:
sslc.info()

In [ ]:
# number of unique values in each column of dataframe
sslc.nunique()

#### Statistical Description about Dataframe
<ul>
    <li>By default it shows only for numerical attributes</li>
    <li>Keyword arguments shall be given to specifically display attributes</li>
    <li>For categorical attributes count,unique,top,freq are displayed</li>
</ul>

In [ ]:
sslc.describe() # Default only numerical values are considered

In [ ]:
sslc.describe(include=[object]) # no-numerical attributes

In [ ]:
sslc.describe(exclude=[object])

In [ ]:
sslc.describe(include='all')

### Number of bytes consumed

#### By DataFrame

In [ ]:
sslc.memory_usage()

#### By a Specific Columns

In [ ]:
sslc['pass'].nbytes

#### Accessing a Column

In [ ]:
#Square brackets
sslc['region']

In [ ]:
#Print all column names
sslc.columns

In [ ]:
#Dot operator
sslc.withheld

#### Reterving rows

#### By default numerical index given by Pandas

In [ ]:
# print details in first row
sslc.iloc[0]

#### Change index of dataframe

In [ ]:
sslc.set_index('roll_number',inplace=True)

#### Access row by index column specified by user

In [ ]:
sslc.loc[10001]

In [ ]:
sslc.iloc[0]

### Accessing a data in dataframe

#### Using row and column indices given by Pandas

In [ ]:
sslc.iat[0,1]

In [ ]:
sslc.at[10001, 'eng']

#### Using indices specified by programmer

In [ ]:
sslc.at[10001,'eng']

In [ ]:
# find number of null values in each column of the dataframe
sslc.isnull().sum()

In [ ]:
sslc['eng'].unique() # display unique values in column

#### Replace a value

In [ ]:
sslc['eng'].replace('AA',np.nan,inplace=True)
sslc['lang2'].replace('AA',np.nan,inplace=True)
sslc['math'].replace('AA',np.nan,inplace=True)
sslc['sci'].replace('AA',np.nan,inplace=True)
sslc['ss'].replace('AA',np.nan,inplace=True)
sslc['total'].replace('AA',np.nan,inplace=True)

#### Find unique values in a column

In [ ]:
sslc['eng'].unique()

#### Change datatype of a column

In [ ]:
sslc['eng'] = pd.to_numeric(sslc['eng'], errors='coerce')
sslc['lang2'] = pd.to_numeric(sslc['lang2'], errors='coerce')
sslc['math'] = pd.to_numeric(sslc['math'], errors='coerce')
sslc['sci'] = pd.to_numeric(sslc['sci'], errors='coerce')
sslc['ss'] = pd.to_numeric(sslc['ss'], errors='coerce')
sslc['total'] = pd.to_numeric(sslc['total'], errors='coerce')

In [ ]:
sslc.info()

In [ ]:
sslc['eng'].nbytes

In [ ]:
sslc['withheld'].nbytes

In [ ]:
sslc.describe()

In [ ]:
sslc.memory_usage()

#### Create sub dataframe with only a specific datatype

In [ ]:
#filtered data frame
non_numeric = sslc.select_dtypes(include=[object])

#### Statistical measures of columns

In [ ]:
sslc['total'].max()

In [ ]:
sslc['total'].min()

In [ ]:
sslc['total'].mean()

In [ ]:
sslc['total'].median()

In [ ]:
sslc['region'].mode()

#### Verify mode by priniting count of all regions

In [ ]:
sslc['total'].std()

In [ ]:
sslc['region'].value_counts()

In [ ]:
#check for null values after replacing 'AA'
sslc.isnull().sum()

#### Listdown unique values of a column

In [ ]:
sslc['pass'].unique()

In [ ]:
sslc['pass'].value_counts()

In [ ]:
sslc['pass'].isnull().sum()

#### Replace null values of a column by a value

In [ ]:
sslc['pass'] = sslc['pass'].fillna('F')

In [ ]:
sslc['pass'].value_counts()

In [ ]:
sslc.withheld.value_counts()

### Conditional Indexing

#### Create a sub dataframe with only withheld results

In [ ]:
sslc_WH = sslc[sslc['withheld']=='W']  #conditional indexing

In [ ]:
sslc_WH

#### Combining Conditions using and, or, xor

In [ ]:
eng_and_lang2 = sslc[(sslc['eng']>75) & (sslc['lang2']>75)]

In [ ]:
eng_and_lang2

In [ ]:
eng_or_lang2 = sslc[(sslc['eng']>75) | (sslc['lang2']>75)]

In [ ]:
eng_or_lang2

In [ ]:
eng_or_lang2.head(50)

In [ ]:
eng_xor_lang2 = sslc[(sslc['eng']>75) ^ (sslc['lang2']>75)] # any one lang and not both

In [ ]:
eng_xor_lang2

#### Findout number of pass and withheld results regionwise

In [ ]:
sslc.groupby('region')['pass'].value_counts()

In [ ]:
 sslc.groupby('region')['withheld'].value_counts()

In [ ]:
sslc.groupby('region')['math'].min()

#### Find the number of first language results withheld

In [ ]:
sslc['eng'].isnull().sum()

#### Create a dataframe with total marks greater than or equal to 300

In [ ]:
sslc_60 = sslc[sslc['total']>=300]

In [ ]:
# number of records in subdataframe
sslc_60.count()

### Insert a new column to have sum of language marks

In [ ]:
sslc.insert(3,'language_total',0)

In [ ]:
sslc.head()

#### Function to find sum of two numbers

In [ ]:
def total(eng,lang2):
    return eng+lang2

#### Call function to compute sum of fl and sl and store it in language_total column
Broadcasting happens

In [ ]:
sslc['language_total'] = total(sslc['eng'],sslc['lang2'])

In [ ]:
sslc