In [ ]:
#Excercise 1
ns = int(input("No. of items in son's list: "))
s={}
print("For son's list, input item_name<space>item_quantity:")
for i in range(ns):
  i,q = input().split()
  s[i] = q

nd = int(input("\nNo. of items in daughter's list: "))
d={}
print("For daughter's list, input item_name<space>item_quantity: ")
for i in range(nd):
  i,q = input().split()
  d[i] = q

s_keys = set(s.keys())
d_keys = set(d.keys())
c = sorted((s_keys&d_keys))
os = sorted((s_keys-d_keys))
od = sorted((d_keys-s_keys))

print("\n1.Common items:")
print("Item\tQuantity")
for i in c:
  print(i+'\t'+'x'+str(int(s[i])+int(d[i])))

print("\n2.Items listed by son only:")
print("Item\tQuantity")
print(*["\t".join([i,'x'+s[i]]) for i in os],sep="\n")

print("\n3.Items listed by daughter only:")
print("Item\tQuantity")
print(*["\t".join([i,'x'+d[i]]) for i in od],sep="\n")

No. of items in son's list: 4
For son's list, input item_name<space>item_quantity:
Pen 3
Pencils 5
Biscuits 1
Balloon 2

No. of items in daughter's list: 5
For daughter's list, input item_name<space>item_quantity:
Pen 1
Pencils 3
Chips 1
Eraser 1
ToyCar 1

1.Common items:
Item	Quantity
Pen	x4
Pencils	x8

2.Items listed by son only:
Item	Quantity
Balloon	x2
Biscuits	x1

3.Items listed by daughter only:
Item	Quantity
Chips	x1
Eraser	x1
ToyCar	x1

In [ ]:
#Excercise 2
cities = ['Mumbai','Delhi','Bangalore','Hyderabad','Ahmedabad','Chennai','Kolkata','Surat','Pune','Jaipur','Lucknow','Kanpur','Nagpur',
          'Indore','Thane','Bhopal','Visakhapatnam','Patna','Vadodara', 'Ghaziabad', 'Ludhiana','Agra','Coimbatore','Nashik']

visited1 = []
visited2 = []
visited3 = []
n1 = 0
n2 = 0
n3 = 0

while n1<6: #Because visits to be calculated in middle of the year
  n = input("City visited by salesman 1: ") 
  visited1.append(n)
  n1 += int(input("No. of months taken by salesman 1 in the city: "))
print()

while n2<6: #Because visits to be calculated in middle of the year
  n = input("City visited by salesman 2: ") 
  visited2.append(n)
  n2 += int(input("No. of months taken by salesman 2 in the city: "))
print()

while n3<6: #Because visits to be calculated in middle of the year
  n = input("City visited by salesman 3: ")
  visited3.append(n) 
  n3 += int(input("No. of months taken by salesman 3 in the city: "))

notVisited = set(cities) - (set(visited1)|set(visited2)|set(visited3))

print('\nCities Visited by Salesman 1:')
print(*set(visited1),sep='\n')
if (n1>6):
  print("*Salesman 1 still on visit to",visited1[-1])

print('\nCities Visited by Salesman 2:')
print(*set(visited2),sep='\n')
if (n2>6):
  print("*Salesman 2 still on visit to",visited2[-1])

print('\nCities Visited by Salesman 3:')
print(*set(visited3),sep='\n')
if (n3>6):
  print("*Salesman 3 still on visit to",visited3[-1])

print('\nCities yet to be visited:')
print(*notVisited,sep='\n')

City visited by Salesman 1: Indore
No. of months taken by salesman 1 in the city: 2
City visited by Salesman 1: Patna
No. of months taken by salesman 1 in the city: 3
City visited by Salesman 1: Patna
No. of months taken by salesman 1 in the city: 2

City visited by Salesman 2: Vadodara
No. of months taken by salesman 2 in the city: 1
City visited by Salesman 2: Ahmedabad
No. of months taken by salesman 2 in the city: 2
City visited by Salesman 2: Surat
No. of months taken by salesman 2 in the city: 3

City visited by Salesman 3: Chennai
No. of months taken by salesman 3 in the city: 4
City visited by Salesman 3: Indore
No. of months taken by salesman 3 in the city: 3

Cities Visited by Salesman 1:
Indore
Patna
*Salesman1 still on visit in Patna

Cities Visited by Salesman 2:
Ahmedabad
Vadodara
Surat

Cities Visited by Salesman 3:
Chennai
Indore
*Salesman3 still on visit in Indore

Cities yet to be visited:
Ghaziabad
Kolkata
Bhopal
Agra
Ludhiana
Nagpur
Delhi
Coimbatore
Pune
Lucknow
Hyderabad
Bangalore
Nashik
Mumbai
Jaipur
Visakhapatnam
Thane
Kanpur

In [ ]:
#Excercise 3
CAT1 = {}
n = int(input("No. of Proctees: "))
for i in range(n):
  name = input("\nName: ")
  rgno = input("Registration No.: ")
  m1 = int(input("Marks1: "))
  m2 = int(input("Marks2: "))
  m3 = int(input("Marks3: "))
  avg = "{:.2f}".format((m1+m2+m3)/3,2)
  CAT1[rgno] = (name,rgno,m1,m2,m3,avg)

print()
for i in CAT1.keys():
  print(CAT1[i][5], CAT1[i][1], CAT1[i][0])

No. of Proctees: 3

Name: Vidhi Shah
Registration No.: 21BCE1297
Marks1: 14
Marks2: 13
Marks3: 28

Name: Sudeep Ghosh
Registration No.: 21BCE1298
Marks1: 25
Marks2: 30
Marks3: 29

Name: Anjali Desai
Registration No.: 21BCE1299
Marks1: 18
Marks2: 14
Marks3: 21

18.33 21BCE1297 Vidhi Shah
28.00 21BCE1298 Sudeep Ghosh
17.67 21BCE1299 Anjali Desai

In [ ]:
#Excercise 4
n1 = int(input("No. of items for Customer 1: "))
sl1=[]
for i in range(n1):
  sl1.append(input("Item Name: "))

n2 = int(input("No. of items for Customer 2: "))
sl2=[]
for i in range(n2):
  sl2.append(input("Item Name: "))

n3 = int(input("No. of items for Customer 3: "))
sl3=[]
for i in range(n3):
  sl3.append(input("Item Name: "))

ci12 = ['Customer 1 & 2',set(sl1) & set(sl2)]
ci23 = ['Customer 2 & 3',set(sl2) & set(sl3)]
ci31 = ['Customer 1 & 3',set(sl1) & set(sl3)]
lucky = max([len(ci12[1]),len(ci23[1]),len(ci31[1])])

for i in [ci12,ci23,ci31]:
  if len(i[1]) == lucky:
    print("\nLucky Winners:",i[0])
    print("Number of Common Items:",lucky)
    print("Common Items:")
    print(*i[1],sep='\n')

No. of items for Customer 1: 3
Item Name: a
Item Name: b
Item Name: c
No. of items for Customer 2: 2
Item Name: a
Item Name: b
No. of items for Customer 3: 4
Item Name: b
Item Name: c
Item Name: d
Item Name: e

Lucky Winners: Customer 1 & 2
Number of Common Items: 2
Common Items:
a
b

Lucky Winners: Customer 1 & 3
Number of Common Items: 2
Common Items:
c
b

In [ ]:
#Excercise 5

directory = {'Lucy Fletcher':['(341) 823-1959','(404) 445-0876'],'Shirley Mcguire':['(678) 445-9846'],'Raymond Gibbs':['(935) 228-6451'],'Clark Clarke':['(744) 217-1123'],
             'Gordon Ramsey':['(483) 817-7024'],'Tim Clark':['(928) 297-6277'],'Michael John':['(893) 906-1989'],'Donna Park':['(557) 839-7655','(557) 801-9334'],
             'Oscar Walsh':['(390) 804-3688','(390) 655-0316'],'Malcolm Cook':['(781) 678-3511'],'Alejandro Kelly':['(970) 712-7474'],'Kelly Mann':['(785) 392-0784'],
             'Tammy Ramsey':['(909) 380-8650'],'John Paul':['(683) 998-3540','(683) 999-7412'],'Tim Cook':['(502) 323-8329']}

n = input()
msg = 0
for k in directory.keys():
  v = directory[k]
  if n.lower() in k.lower():
    print(k+':',", ".join(v))
    msg = 1
if not(msg):
  print("No contact number available for",n)

John
Michael John: (893) 906-1989
John Paul: (683) 998-3540, (683) 999-7412

In [ ]:
#Excercise 6
teams = {}
n = int(input())

for i in range(n):
  t_n = input()
  teams[t_n]=[]
  for i in range(15):
    teams[t_n].append(input())

team_name = input('\n')
print(*teams[team_name],sep=', ')

2
India
abc
bcd
cde
def
efg
fgh
ghi ghi
hij
ijk
jkl m
klm
lmo
mno
nop
opq
New Zealand
pqr
qrs
rst
stu
tuv
uvw
vwx
wxy
xyz
yza
zab
abc
bcd
cde
def

India
abc, bcd, cde, def, efg, fgh, ghi ghi, hij, ijk, jkl m, klm, lmo, mno, nop, opq